*{
    padding-top: 50px;
    padding-bottom: 50px;
}
.button{ 
   height: 20px;
   width: 40px;
   justify-items: center; 
   text-align: center;
   margin-left: 45%;
}
.button a{
        width: 150px; 
        text-decoration: none;
        display: block;
        margin: 20px auto;
        padding: 12px 0;
        color: #000;  
        border: .5px solid #000;
        background-color: #7c2727;
        
        

        
        
}


    
     
    



 